
.App {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2em;
}

.App h1 {
    color: teal;
}

.App pre {
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
    color: teal;
    padding: 1em;
}

.App .val {
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
    color: teal;
    padding: .1em .5em;
    margin-left: .2em;
}